<h3>Persons</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">FirstName</th>
      <th scope="col">LastName</th>
      <th scope="col">Phone</th>
      <th scope="col">Sex</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each list}}
    <tr>
        <th scope="row">{{this.id}}</a></th>
        <td>{{this.firstName}}</td>
        <td>{{this.lastName}}</td>
        <td>{{this.phone}}</td>
        <td>{{this.sex}}</td>
        <td>
          <a href="/persons/{{this.id}}/cars" class="btn btn-primary" role="button">View more</a>
          <a href="/persons/{{this.id}}/edit" class="btn btn-primary" role="button">Edit</a>
          <a href="/persons/{{this.id}}/delete" class="btn btn-danger" role="button">Delete</a>
        </td>
    </tr>
    {{/each}}
  </tbody>
</table>
<a href="/persons/new" class="btn btn-primary" role="button">Add</a>